<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <add key="Configpath" value="~/xmlconfig/sys.config" /> 
  </appSettings>
  <!-- 数据库连接字符串-->
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="server=115.28.68.57;uid=sa;pwd=saq1w2e3r4;database=IS_DRP_major;" />-->
    <add name="ConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.141)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=hissa)));User Id=bodhicrm;Password=his2;" providerName="System.Data.OracleClient" />
    <add name="ConnectionString_HIS" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.141)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=hissa)));User Id=his2;Password=his2;" providerName="System.Data.OracleClient" />
    <add name="ConnectionString_BHP" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.141)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=hissa)));User Id=bhp;Password=his2;" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITemplateSMSService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.141:8883/TemplateSMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITemplateSMSService"
        contract="ServiceReference1.ITemplateSMSService" name="BasicHttpBinding_ITemplateSMSService" />
    </client>
  </system.serviceModel>
</configuration>