<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITemplateSMSService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.141:8883/TemplateSMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITemplateSMSService"
                contract="ServiceReference1.ITemplateSMSService" name="BasicHttpBinding_ITemplateSMSService" />
        </client>
    </system.serviceModel>
</configuration>